In [1]:
import pandas as pd

print(pd.Series([2, 4, 6, 8]))

0    2
1    4
2    6
3    8
dtype: int64

In [2]:
print(pd.Series([2, 4, 6, 8], index=['a', 'b', 'c', 'd']))

a    2
b    4
c    6
d    8
dtype: int64

In [3]:
print(pd.Series({'a': 2, 'b': 4, 'c': 6, 'd': 8}))

a    2
b    4
c    6
d    8
dtype: int64

In [4]:
s1 = pd.Series([2, 4, 6, 8])
s2 = pd.Series({'a': 2, 'b': 4, 'c': 6, 'd': 8})

print(s1[0])
# 输出：2

print(s2['b'])
# 输出：4

2
4

In [5]:
s1 = pd.Series({'辣条': 14, '面包': 7, '可乐': 8, '烤肠': 10})
s2 = pd.Series({'辣条': 20, '面包': 3, '可乐': 13, '烤肠': 6})
print(s1 + s2)

辣条    34
面包    10
可乐    21
烤肠    16
dtype: int64

In [6]:
import pandas as pd

s1 = pd.Series({'辣条': 14, '面包': 7, '可乐': 8, '烤肠': 10})
s2 = pd.Series({'辣条': 20, '面包': 3, '雪碧': 13, '泡面': 6})
print(s1 + s2)

可乐     NaN
泡面     NaN
烤肠     NaN
辣条    34.0
雪碧     NaN
面包    10.0
dtype: float64

In [10]:
import pandas as pd

s1 = pd.Series({'辣条': 14, '面包': 7, '可乐': 8, '烤肠': 10})
s2 = pd.Series({'辣条': 20, '面包': 3, '雪碧': 13, '泡面': 6})
print(s2.add(s1, fill_value=0))
print(s2.sub(s1, fill_value=0))
print(s2.mul(s1, fill_value=0))
print(s2.div(s1, fill_value=0))

可乐     8.0
泡面     6.0
烤肠    10.0
辣条    34.0
雪碧    13.0
面包    10.0
dtype: float64
可乐    -8.0
泡面     6.0
烤肠   -10.0
辣条     6.0
雪碧    13.0
面包    -4.0
dtype: float64
可乐      0.0
泡面      0.0
烤肠      0.0
辣条    280.0
雪碧      0.0
面包     21.0
dtype: float64
可乐    0.000000
泡面         inf
烤肠    0.000000
辣条    1.428571
雪碧         inf
面包    0.428571
dtype: float64

In [12]:
import pandas as pd

pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)

df = pd.DataFrame({'辣条': [14, 20], '面包': [7, 3], '可乐': [8, 13], '烤肠': [10, 6]})
print(df)

   辣条  面包  可乐  烤肠
0    14     7     8    10
1    20     3    13     6

因此需要调用 pd.set_option() 使表格对齐显示。如果你是使用 Jupyter 来运行代码的，Jupyter 会自动渲染出一个表格，则无需这个设置

In [13]:
import pandas as pd

data = {
  '辣条': [14, 20],
  '面包': [7, 3],
  '可乐': [8, 13],
  '烤肠': [10, 6]
}
df = pd.DataFrame(data, index=['2020-01-01', '2020-01-02'])
print(df)

            辣条  面包  可乐  烤肠
2020-01-01    14     7     8    10
2020-01-02    20     3    13     6

In [17]:
import pandas as pd

df = pd.DataFrame({'辣条': [14, 20], '面包': [7, 3], '可乐': [8, 13], '烤肠': [10, 6]})
df

   辣条  面包  可乐  烤肠
0    14     7     8    10
1    20     3    13     6

In [18]:
print(df['可乐'])

0     8
1    13
Name: 可乐, dtype: int64

In [19]:
print(df[['可乐', '辣条']])

   可乐  辣条
0     8    14
1    13    20

In [20]:
df['可乐'] = [18, 23]
print(df)

   辣条  面包  可乐  烤肠
0    14     7    18    10
1    20     3    23     6

In [21]:
df['糖果'] = [3, 5]
print(df)

   辣条  面包  可乐  烤肠  糖果
0    14     7    18    10     3
1    20     3    23     6     5

In [22]:
df.drop('面包', axis=1, inplace=True)
print(df)
# 或者 print(df.drop('面包', axis=1))

   辣条  可乐  烤肠  糖果
0    14    18    10     3
1    20    23     6     5

axis 表示针对行或列进行删除，axis = 0 表示删除对应的行，axis = 1 表示删除对应的列，axis 默认为 0。

In [23]:
import pandas as pd

pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)

data = {
  '辣条': [14, 20],
  '面包': [7, 3],
  '可乐': [8, 13],
  '烤肠': [10, 6]
}
df = pd.DataFrame(data, index=['2020-01-01', '2020-01-02'])
df['可乐'] = [18, 23]
df['糖果'] = [3, 5]
df.drop('面包', axis=1, inplace=True)
print(df)

            辣条  可乐  烤肠  糖果
2020-01-01    14    18    10     3
2020-01-02    20    23     6     5

In [25]:
import pandas as pd

df = pd.read_csv('2019年销售数据.csv')
print(type(df))
# 输出：<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [28]:
print(df.head())
print(df.head(2))
print(df.tail())

  销售员 团队  第一季度  第二季度  第三季度  第四季度
0   刘一    A      6324      5621      6069      6005
1   陈二    B      4508      3391      5933      5002
2   张三    C      3426      3549      5872      5759
3   李四    D      2104      3939      3285      3461
4   王五    A      4830      5763      2923      4033
  销售员 团队  第一季度  第二季度  第三季度  第四季度
0   刘一    A      6324      5621      6069      6005
1   陈二    B      4508      3391      5933      5002
    销售员 团队  第一季度  第二季度  第三季度  第四季度
15  许十六    D      5369      3420      5169      5790
16  钱十七    A      6924      5912      5907      5263
17  沈十八    B      2733      2649      3402      3164
18  韩十九    C      1519      1553      1411      2091
19  杨二十    D      3268      5090      3898      4180

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   销售员     20 non-null     object
 1   团队      20 non-null     object
 2   第一季度    20 non-null     int64
 3   第二季度    20 non-null     int64
 4   第三季度    20 non-null     int64
 5   第四季度    20 non-null     int64
dtypes: int64(4), object(2)
memory usage: 1.1+ KB
None

In [30]:
print(df.describe())

          第一季度     第二季度     第三季度     第四季度
count    20.000000    20.000000    20.000000    20.000000
mean   3969.150000  4252.250000  4309.300000  4284.700000
std    1518.736084  1352.492275  1646.188871  1286.032377
min    1501.000000  1553.000000  1272.000000  2091.000000
25%    2760.000000  3412.750000  3194.500000  3469.250000
50%    4162.000000  4392.500000  4536.000000  4120.500000
75%    4888.500000  5412.250000  5818.000000  5202.250000
max    6924.000000  6176.000000  6499.000000  6683.000000

In [31]:
df['总和'] = df['第一季度'] + df['第二季度'] + df['第三季度'] + df['第四季度']

In [32]:
# 总销售额最大值
df['总和'].max()

# 总销售额最小值
df['总和'].min()

# 总销售额平均值
df['总和'].mean()

# 所有人的总销售额求和
df['总和'].sum()

336308

In [33]:
df.sort_values('总和', ascending=False, inplace=True)

In [34]:
df.to_csv('2019年销售数据1.csv', index=False)

In [35]:
import pandas as pd

df = pd.read_csv('2019年销售数据.csv')  # 导入 csv 文件
df['总和'] = df['第一季度'] + df['第二季度'] + df['第三季度'] + df['第四季度']  # 汇总
df.sort_values('总和', ascending=False, inplace=True)  # 排序
df.to_csv('2019年销售数据1.csv', index=False)  # 导出 csv 文件

Excel

In [45]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [46]:
# 原因：xlrd1.2.0之后的版本不支持xlsx格式，支持xls格式
import pandas as pd

df = pd.read_excel('2019年销售数据.xlsx',engine='openpyxl')  # 导入 excel 文件
df['总和'] = df['第一季度'] + df['第二季度'] + df['第三季度'] + df['第四季度']  # 汇总
df.sort_values('总和', ascending=False, inplace=True)  # 排序
df.to_excel('2019年销售数据1.xlsx', index=False)  # 导出 excel 文件

In [49]:
import pandas as pd

df = pd.read_excel('2019年销售数据.xlsx', sheet_name='工作表1',engine='openpyxl')  # 导入工作表1
df['总和'] = df['第一季度'] + df['第二季度'] + df['第三季度'] + df['第四季度']  # 汇总
df.sort_values('总和', ascending=False, inplace=True)  # 排序
df.to_excel('2019年销售数据1.xlsx', index=False, sheet_name='工作表1')  # 导出到工作表1

In [51]:
df = pd.read_excel('2019年销售数据.xlsx', sheet_name='工作表1',engine='openpyxl')  # 导入工作表1
df['总和'] = df['第一季度'] + df['第二季度'] + df['第三季度'] + df['第四季度']  # 汇总
df[df['总和'] < df['总和'].mean()]

    销售员 团队  第一季度  第二季度  第三季度  第四季度   总和
3     李四    D      2104      3939      3285      3461  12789
5     赵六    B      2545      3747      2232      3472  11996
9     郑十    B      4935      2617      2424      3833  13809
11  蒋十二    D      4509      3673      4717      3489  16388
12  毕十三    A      4873      5403      3889      2567  16732
14  秦十五    C      1501      2238      1272      2265   7276
17  沈十八    B      2733      2649      3402      3164  11948
18  韩十九    C      1519      1553      1411      2091   6574
19  杨二十    D      3268      5090      3898      4180  16436

In [52]:
# 筛选出总和大于 10000 且小于 12000 的
df[(df['总和'] > 10000) & (df['总和'] < 12000)]

# 筛选出总和小于 5000 或大于 12000 的
df[(df['总和'] < 5000) | (df['总和'] > 12000)]

    销售员 团队  第一季度  第二季度  第三季度  第四季度   总和
0     刘一    A      6324      5621      6069      6005  24019
1     陈二    B      4508      3391      5933      5002  18834
2     张三    C      3426      3549      5872      5759  18606
3     李四    D      2104      3939      3285      3461  12789
4     王五    A      4830      5763      2923      4033  17549
6     孙七    C      3964      5053      6499      5056  20572
7     周八    D      5584      6176      5405      6683  23848
8     吴九    A      2769      5440      5724      4338  18271
9     郑十    B      4935      2617      2424      3833  13809
10  冯十一    C      4360      4846      4355      5182  18743
11  蒋十二    D      4509      3673      4717      3489  16388
12  毕十三    A      4873      5403      3889      2567  16732
13  朱十四    B      3338      4965      5800      4061  18164
15  许十六    D      5369      3420      5169      5790  19748
16  钱十七    A      6924      5912      5907      5263  24006
19  杨二十    D      3268      5090      3898      4180  16436

In [53]:
print(df[df['总和'] > df['总和'].mean() * 1.2])

    销售员 团队  第一季度  第二季度  第三季度  第四季度   总和
0     刘一    A      6324      5621      6069      6005  24019
6     孙七    C      3964      5053      6499      5056  20572
7     周八    D      5584      6176      5405      6683  23848
16  钱十七    A      6924      5912      5907      5263  24006

In [54]:
pd.cut(df['总和'], bins=[0, 1000, 2000, 3000], labels=['不合格', '良好', '优秀'])

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: 总和, dtype: category
Categories (3, object): ['不合格' < '良好' < '优秀']

In [55]:
pd.cut(df['总和'], bins=[0, df['总和'].mean() * 0.9, df['总和'].mean() * 1.2, df['总和'].max()], labels=['不合格', '良好', '优秀'])

0       优秀
1       良好
2       良好
3     不合格
4       良好
5     不合格
6       优秀
7       优秀
8       良好
9     不合格
10      良好
11      良好
12      良好
13      良好
14    不合格
15      良好
16      优秀
17    不合格
18    不合格
19      良好
Name: 总和, dtype: category
Categories (3, object): ['不合格' < '良好' < '优秀']

In [64]:
import pandas as pd

df = pd.DataFrame({'辣条': [14, 20], '面包': [7, 3], '可乐': [8, 13], '烤肠': [10, 6]})
df

   辣条  面包  可乐  烤肠
0    14     7     8    10
1    20     3    13     6

In [57]:
print(df.loc[0])

辣条    14
面包     7
可乐     8
烤肠    10
Name: 0, dtype: int64

In [61]:
import pandas as pd

data = {
  '辣条': [14, 20],
  '面包': [7, 3],
  '可乐': [8, 13],
  '烤肠': [10, 6]
}
df = pd.DataFrame(data, index=['2020-01-01', '2020-01-02'])
print(df.loc['2020-01-01'])
df

辣条    14
面包     7
可乐     8
烤肠    10
Name: 2020-01-01, dtype: int64

            辣条  面包  可乐  烤肠
2020-01-01    14     7     8    10
2020-01-02    20     3    13     6

In [62]:
print(df.loc['2020-01-01', '辣条']) # 不能再用数值索引了

14

In [65]:
# 行分片
print(df.loc[0:1, '辣条'])

# 列分片
print(df.loc[0, '辣条':'可乐'])

# 同时分片
print(df.loc[0:1, '辣条':'可乐'])

0    14
1    20
Name: 辣条, dtype: int64
辣条    14
面包     7
可乐     8
Name: 0, dtype: int64
   辣条  面包  可乐
0    14     7     8
1    20     3    13

In [66]:
df.loc[df['辣条'] > 15]

   辣条  面包  可乐  烤肠
1    20     3    13     6

In [67]:
print(df.loc[df['辣条'] > 15, ['辣条', '面包']])

   辣条  面包
1    20     3

In [69]:
import pandas as pd

data = {
  '辣条': [14, 20, 12, 15, 17],
  '面包': [7, 3, 8, 3, 9],
  '可乐': [8, 13, 23, 12, 19],
  '烤肠': [10, 6, 21, 24, 18]
}
df = pd.DataFrame(data, index=['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05'])
print(df.iloc[:3,0:1])  # :3 表示 0、1、2 前三个

            辣条
2020-01-01    14
2020-01-02    20
2020-01-03    12

In [70]:
df.loc[0] = 1  # 第一行都改成 1
print(df)

            辣条  面包  可乐  烤肠
2020-01-01    14     7     8    10
2020-01-02    20     3    13     6
2020-01-03    12     8    23    21
2020-01-04    15     3    12    24
2020-01-05    17     9    19    18
0              1     1     1     1

In [73]:
import pandas as pd

data = {
  '辣条': [14, 20, 12, 15, 17],
  '面包': [7, 3, 8, 3, 9],
  '可乐': [8, 13, 23, 12, 19],
  '烤肠': [10, 6, 21, 24, 18]
}
df = pd.DataFrame(data)
df.loc[0] = 1  # 第一行都改成 1
print(df)
df.loc[0] = [1, 2, 3, 4] # 按顺序修改成 1 2 3 4
print(df)

   辣条  面包  可乐  烤肠
0     1     1     1     1
1    20     3    13     6
2    12     8    23    21
3    15     3    12    24
4    17     9    19    18
   辣条  面包  可乐  烤肠
0     1     2     3     4
1    20     3    13     6
2    12     8    23    21
3    15     3    12    24
4    17     9    19    18

In [74]:
# 添加第三行，全为 1
df.loc[2] = 1
# 添加第四行，分别为 1 2 3 4
df.loc[3] = [1, 2, 3, 4]
print(df)

   辣条  面包  可乐  烤肠
0     1     2     3     4
1    20     3    13     6
2     1     1     1     1
3     1     2     3     4
4    17     9    19    18

In [75]:
df.drop(0, inplace=True)  # 删除第一行
print(df)
# 或者 print(df.drop(0))

   辣条  面包  可乐  烤肠
1    20     3    13     6
2     1     1     1     1
3     1     2     3     4
4    17     9    19    18

In [82]:
df = pd.read_csv('2019年销售数据1.csv')
df.groupby('团队')

In [83]:
df.groupby('团队').sum()

      第一季度  第二季度  第三季度  第四季度    总和
团队
A        25720     28139     24512     22206  100577
B        18059     17369     19791     19532   74751
C        14770     17239     19409     20353   71771
D        20834     22298     22474     23603   89209

In [84]:
sum_by_team = df.groupby('团队').sum()
sum_by_team.sort_values('总和', ascending=False, inplace=True)
print(sum_by_team)

      第一季度  第二季度  第三季度  第四季度    总和
团队
A        25720     28139     24512     22206  100577
D        20834     22298     22474     23603   89209
B        18059     17369     19791     19532   74751
C        14770     17239     19409     20353   71771

In [85]:
print(df.groupby('团队').mean())

      第一季度  第二季度  第三季度  第四季度     总和
团队
A       5144.0    5627.8    4902.4    4441.2  20115.4
B       3611.8    3473.8    3958.2    3906.4  14950.2
C       2954.0    3447.8    3881.8    4070.6  14354.2
D       4166.8    4459.6    4494.8    4720.6  17841.8

In [87]:
import pandas as pd

pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)

df = pd.read_csv('2019年销售数据1.csv')
sum_by_team=df.groupby('团队').sum()
sum_by_team.sort_values('总和',ascending=False,inplace=True)

print(sum_by_team.head(1))

      第一季度  第二季度  第三季度  第四季度    总和
团队
A        25720     28139     24512     22206  100577

In [88]:
import pandas as pd

df_a = pd.read_csv('2019年团队A销售数据.csv')
df_b = pd.read_csv('2019年团队B销售数据.csv')
df_c = pd.read_csv('2019年团队C销售数据.csv')
df_d = pd.read_csv('2019年团队D销售数据.csv')

df = pd.concat([df_a, df_b, df_c, df_d])
print(type(df))
# 输出：<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [89]:
df

   销售员 团队  第一季度  第二季度  第三季度  第四季度
0    刘一    A      6324      5621      6069      6005
1    王五    A      4830      5763      2923      4033
2    吴九    A      2769      5440      5724      4338
3  毕十三    A      4873      5403      3889      2567
4  钱十七    A      6924      5912      5907      5263
0    陈二    B      4508      3391      5933      5002
1    赵六    B      2545      3747      2232      3472
2    郑十    B      4935      2617      2424      3833
3  朱十四    B      3338      4965      5800      4061
4  沈十八    B      2733      2649      3402      3164
0    张三    C      3426      3549      5872      5759
1    孙七    C      3964      5053      6499      5056
2  冯十一    C      4360      4846      4355      5182
3  秦十五    C      1501      2238      1272      2265
4  韩十九    C      1519      1553      1411      2091
0    李四    D      2104      3939      3285      3461
1    周八    D      5584      6176      5405      6683
2  蒋十二    D      4509      3673      4717      3489
3  许十六    D      5369      3420      5169      5790
4  杨二十    D      3268      5090      3898      4180

In [91]:
df1 = pd.read_csv('2019年团队A上半年销售数据.csv')
df2 = pd.read_csv('2019年团队A下半年销售数据.csv')
df = pd.merge(df1, df2)
print(df)

   销售员  第一季度  第二季度  第三季度  第四季度
0    王五      4830      5763      2923      4033
1    吴九      2769      5440      5724      4338
2  毕十三      4873      5403      3889      2567
3  钱十七      6924      5912      5907      5263

可以看到，合并后数据被剔除了，这其实是参数 how 导致的。参数 how 指定了合并的方式，总共有 left、right、outer 和 inner 四种方式可选，默认为 inner

In [92]:
import pandas as pd

pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)

df = pd.read_csv('https://media-zip1.baydn.com/storage_media_zip/srfeae/dc3fa2c70032c4f4dfd7d878d79eb4da.41767dfc9dd1646b2a9f71527db2125f.csv')
df['评分'] = df['评分'].str.replace('分', '').astype('float')
df['评分'].fillna(df['评分'].mean().round(1), inplace=True)

print(df.info())
print('=============================')
print(df.describe())

df.to_csv('豆瓣图书Top250修正.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   书名      250 non-null    object
 1   评分      250 non-null    float64
 2   作者      250 non-null    object
 3   出版社     250 non-null    object
 4   出版日期    250 non-null    object
 5   价格      250 non-null    float64
 6   链接      250 non-null    object
dtypes: float64(2), object(5)
memory usage: 13.8+ KB
None
=============================
             评分        价格
count  250.000000  250.000000
mean     8.621600   32.933440
std      0.362739   30.665026
min      8.000000    0.250000
25%      8.300000   19.000000
50%      8.600000   25.000000
75%      8.900000   37.700000
max      9.600000  299.000000

In [ ]:
df.dropna(thresh=5) # 非空值数量小于 5 个时删除这一行，代码就可以这样写：
df.dropna(how='all') # 来控制当这一行数据都为 NaN 时才删除这一行。how 默认为 any，表示只要有一个 NaN 就会删除这一行。
dropna() #方法的作用是删除所有包含 NaN 的行，执行后上表中数据缺失的那 2 行数据就会被删除。

In [93]:
import pandas as pd

df = pd.DataFrame({'用户名': ['刘一', '陈二', '刘一', '张三'], '交易金额': [25.8, 15.5, 56.3, 46.2]})
repeat = pd.concat([df, df])
print(repeat)

  用户名  交易金额
0   刘一      25.8
1   陈二      15.5
2   刘一      56.3
3   张三      46.2
0   刘一      25.8
1   陈二      15.5
2   刘一      56.3
3   张三      46.2

In [94]:
print(repeat.drop_duplicates())

  用户名  交易金额
0   刘一      25.8
1   陈二      15.5
2   刘一      56.3
3   张三      46.2

subset 参数指定按列去重

In [95]:
print(repeat.drop_duplicates(subset=['用户名']))

  用户名  交易金额
0   刘一      25.8
1   陈二      15.5
3   张三      46.2

可以看到，按照用户名进行去重刘一的两条记录只剩一条了。去重默认是保留第一条不重复的数据，如果你想保留最后一条不重复的数据，可以传入 keep='last'。

In [96]:
print(repeat.drop_duplicates(subset=['用户名'], keep='last'))

  用户名  交易金额
1   陈二      15.5
2   刘一      56.3
3   张三      46.2

In [97]:
print(repeat['用户名'].unique())
# 输出：['刘一' '陈二' '张三']

print(len(repeat['用户名'].unique()))
# 输出：3

['刘一' '陈二' '张三']
3

不重复的个数统计

In [98]:
print(repeat['用户名'].nunique())
# 输出：3

3

In [123]:
df = pd.read_csv('https://media-zip1.baydn.com/storage_media_zip/srfeae/dc3fa2c70032c4f4dfd7d878d79eb4da.41767dfc9dd1646b2a9f71527db2125f.csv')

def format_price(x):
  return float(x.replace('元', ''))

# 报错： AttributeError: 'float' object has no attribute 'replace'
# 这是因为原字段中不全为字符串，还存在数值型记录
df['价格'] = df['价格'].astype(str)
df['价格'] = df['价格'].apply(format_price)

In [130]:
df['价格'].dtypes
df['价格'] = df['价格'].astype(str)
df['价格'] = df['价格'].apply(lambda x: float(x.replace('元', '')))

In [132]:
format_price = lambda x: float(x.replace('元', ''))
df['价格'] = df['价格'].astype(str)
df['价格'] = df['价格'].apply(format_price)